<!DOCTYPE html>
<html ng-app="dStore">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<title> Blog </title>
</head>
<body ng-controller="StoreController2 as store">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">	
	<button class="navbar-toggle" data-toggle="collapse" data-target=".navbarHeaderCollapse"> 
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button> 
		<div class="collapse navbar-collapse navbarHeaderCollapse">
		<ul class="nav navbar-nav navbar-right">
		<li><a href="index.html"> Homepage</a></li>
		<li><a href="blog.html"> Blog</a></li>
		</ul>
			
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
<h1>Homework 5 Blog</h1>
<p></p>
	</div>
</div>
<div class="container">
	<section class="tab"  ng-controller="TabController as tab" >
		<ul class="nav navbar-pills" id="menu">
		<li ng-class="{active: tab.isSet(1)}"><a href ng-click="tab.setTab (1)"> Angular Introduction</a></li>
		<li ng-class="{active: tab.isSet(2)}"><a href ng-click="tab.setTab (2)"> Example</a></li>
		<li ng-class="{active: tab.isSet(3)}"><a href ng-click="tab.setTab (3)"> Images</a></li>
		</ul>

		<div ng-show="tab.isSet(1)">
          <h4>Introduction</h4>
         <blockquote> <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology. </p></blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>example</h4>
          <blockquote><p>
			<ul>
			<li>input type="text" ng-model="name"></li>
			<li>{ name }}</li>
			</ul></p></blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Images</h4>
          <blockquote><img id="ex" src="images/example.jpg"height="500px" width="500px"/></blockquote>
        </div>
	</section>

</div>


</body>
</html>